*,
body {
     font-family: $primaryFont;
     font-weight: 300;
     margin: 0;
     padding: 0;
     color: $black;
     box-sizing: border-box;
     // -webkit-user-select: none;
     // -moz-user-select: none;
     // -ms-user-select: none;
     // user-select: none;
     outline: none;
}

a {
     text-decoration: none;
}

ul,
ol {
     list-style: none;
}

.container {
     &--limit {
          width: 100%;
          max-width: 1200px;
          margin: auto;
     }

     &--general {
          width: 100%;
          overflow: hidden;
     }

     &--text {
          width: 100%;
          max-width: 1000px;
          margin: 50px auto;

          h1 {
               text-align: center;
               font-weight: 600;
               font-size: 3rem;
          }

          p {
               text-align: center;
          }
     }
}


body {
     background-color: $white;
}


input,
textarea {
     outline-style: none;
}

picture {
     width: 100%;
}

.main {
     overflow: hidden;

     @include media($mediaMobile) {
          padding-top: 90px;
     }
}

.dNone {
     display: none !important;
}

.op0 {
     opacity: 0;
}

.op1 {
     opacity: 1;
}

.textColorW {
     color: $white;
}

.subTitle {
     font-size: 2.3rem;
     color: $primary-color;
     text-transform: uppercase;
     font-weight: 600;
     padding-top: 50px;
     text-align: center;
}

.active {
     display: block;
}

.closeModal {
     position: absolute;
     width: 30px;
     height: 30px;
     z-index: 30;
     top: 18%;
     right: 50px;
     border: 1px solid $white;

     @include media($mediaBMobile) {
          right: 25px;
     }

     &::before,
     &::after {
          content: "";
          display: block;
          width: 2px;
          height: 100%;
          background-color: $white;
          position: absolute;
          transform: rotate(45deg);
          left: 13px;
     }

     &::after {
          transform: rotate(-45deg);
          left: 14px;
     }
}

.closeModal:hover {
     border-color: $err;

     &::before,
     &::after {
          background-color: $err
     }
}


picture {
     width: 100%;
     height: 100%;
     position: relative;
     
     img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include unselect;
     }

     &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
     }
}

.btn {
     color: $white;
     padding: 10px 20px;
     background-color: $primary-color;
     border-radius: 15px;
     font-weight: 500;
     display: inline-block;
     text-transform: uppercase;
     transition: .5s;
     border-color: transparent;
     border: 1px solid transparent;
     
     &:hover,
     &:active,
     &:focus {
          color: $primary-color !important;
          background-color: $white;
          border-color: $primary-color;
     }
}