@for $i from 0 through 10 {
    $value: $i * 5;
    .m#{$value}{
        margin:  #{$value}px;
    }
    .mt#{$value}{
        margin-top:  #{$value}px;
    }
    .mb#{$value}{
        margin-bottom:  #{$value}px;
    }
    .ml#{$value}{
        margin-left:  #{$value}px;
    }
    .mr#{$value}{
        margin-right:  #{$value}px;
    }
}