//flex
@mixin flex($content: center, $items: center, $direction: row, $wrap: wrap, $flow: inherit, $display: flex) {
    display: $display;
    justify-content: $content;
    align-items: $items;
    align-content: $items;
    flex-direction: $direction;
    flex-wrap: $wrap;
    flex-flow: $flow;
}

@mixin grid($gap: 1rem, $minmax: undefined) {
    display: grid;
    gap: $gap;

    @if $minmax !=undefined {
        grid-template-columns: repeat(auto-fill, minmax($minmax, 1fr));
    }

    @content;
}


@mixin media($media) {
    @if type-of($media)==number {
        @media only screen and (max-width: $media + px) {
            @content;
        }
    }

    @else {
        @media only screen and ($media) {
            @content;
        }
    }
}


@mixin listContent {
    ul {
        padding-left: 15px;
        list-style: disc;

        li {
            &::marker {
                color: $primary-color;
            }
        }
    }

    ol {
        padding-left: 15px;
        list-style: decimal;

        li {
            &::marker {
                color: $primary-color;
                font-weight: 600;
            }
        }
    }
}


@mixin unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}