@for $i from 0 through 10 {
    $value: $i * 5;
    .p#{$value}{
        padding:  #{$value}px;
    }
    .pt#{$value}{
        padding-top:  #{$value}px;
    }
    .pb#{$value}{
        padding-bottom:  #{$value}px;
    }
    .pl#{$value}{
        padding-left:  #{$value}px;
    }
    .pr#{$value}{
        padding-right:  #{$value}px;
    }
}