$primary-color: #364C59;
$secundary-color: #A65005;
$blue: #364C59;
$blue-light: #99ADBF;

$white: #F0F2F2;
$black: #0D0D0D;
$err: red;

$primaryFont: 'Open Sans', sans-serif; 




$mediaXSMobile: "max-width : 400px";
$mediaXSSMobile: "max-width : 450px";
$mediaSMobile: "max-width : 560px";
$mediaMobile: "max-width : 767px";
$mediaBMobile: "max-width : 877px";
$mediaTablet: "max-width : 994px";
$mediaBTablet: "max-width : 1040px";
$mediaLaptop: "max-width : 1367px";
$mediaDesktop: "max-width : 1199px";
